/* Change blinky cursor color */
.logo__cursor {
  background: #78e2a0;
}

/* Allow links to be word broken */
.post-content a {
  word-break: break-word;
}

/* Allow inline code to be word broken */
.post-content code {
  white-space: initial;
  word-break: break-word;
}

/* Prevent code blocks from be word broken */
.post-content pre code {
  white-space: pre;
}

/* Apply max width to video */
video {
  display: block;
  max-width: 100%;
}

/* Fix image centering */
figure.center img,
figure.center video {
  margin: auto;
}