/* Change blinky cursor color */
.logo__cursor {
  background: #7ec699;
}

/* Allow links to be word broken */
.post-content a {
  word-break: break-word;
}

/* Allow inline code to be word broken */
.post-content code {
  word-break: break-word;
}

/* Apply max width to video */
video {
  display: block;
  max-width: 100%;
}

/* Fix image centering */
figure.center img,
figure.center video {
  margin: auto;
}