name: Build

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2

    - name: Build Site
      run: hugo --gc --cleanDestinationDir

    - name: Deploy Site
      uses: peaceiris/actions-gh-pages@v3.8.0
      if: success()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./public

    - name: Purge Cache
      uses: nathanvaughn/actions-cloudflare-purge@master
      if: success()
      with:
        cf_zone: ${{ secrets.CLOUDFLARE_ZONE }}
        cf_auth: ${{ secrets.CLOUDFLARE_AUTH_KEY }}

    - name: Load Site
      run: curl https://blog.nathanv.me --location --output /dev/null

    - name: Update Sitemap
      run: curl http://www.google.com/ping?sitemap=https://blog.nathanv.me/sitemap.xml